package views

templ Base(title string, noAnim bool) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title } — snapdiff</title>
			<link rel="stylesheet" href="/static/snapdiff.css"/>
		</head>
		if noAnim {
			<body class="no-anim">
				{ children... }
				<script src="/static/snapdiff.js"></script>
			</body>
		} else {
			<body>
				{ children... }
				<script src="/static/snapdiff.js"></script>
			</body>
		}
	</html>
}
